/*this will be used for the front page because of the major difference in styles*/
body {
  padding-top: 60px; /* Space for the navbar */
  background-color: #c49d53;
  font-family: Arial, sans-serif;
  color: #000000;
  text-align: center;
}

/* Used for the buttons in the navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#aboutm,
#settings,
#tutoring {
  padding: 10px 20px;
  font-size: 12px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  float: left;
}

#aboutm:hover,
#tutoring:hover,
#settings:hover {
  background-color: #333333;
  transform: scale(1.15);
}
#home {
  padding: 10px 20px;
  font-size: 18px;
  margin: 100px;
  cursor: pointer;
  background-color: #000000;
  color: #c49d53;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  position: fixed;
}
#about {
  font: Helvetica, Arial, sans-serif;
  color: #000000;
}
